@import "./variables";
@import "./mixins";

.bar {
  min-height: 5rem;
  background: $secondary;
  color: $white;
  @include gradient($secondary, $alternative);

  .icons {
    display: flex;
    flex-direction: column;
    padding: 1.4rem 0;

    @include desktop {
      flex-direction: row;
    }
    .icon {
      @include desktop {
        flex: 0 0 33.3%;
      }

      &.icon1 {
        @include bg-icon(icon1);
      }
      &.icon2 {
        @include bg-icon(icon2);
      }
      &.icon3 {
        @include bg-icon(icon3);
      }
    }
  }
}
