@import "./variables";
@import "./mixins";

.course-list {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .course {
    flex: 0 0 calc(50% - 1rem);
    @include tablet {
      flex: 0 0 calc(33.3% - 1rem);
    }
    @include desktop {
      flex: 0 0 calc(25% - 1rem);
    }
    background-color: $white;
    margin-bottom: 1rem;
    border: 1px solid darken($gray, 5%);

    .course-info {
      padding: 1rem;
      h4 {
        margin: 0;
        font-size: 1.2rem;
      }
      .price {
        display: flex;
        justify-content: space-between;

        .regular {
          text-decoration: line-through;
        }
        .offer {
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
      .button {
        @include button($primary);
      }
    }
  }
}
